*{   transition: all .5s;}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body{
  background-color: rgb(230, 230, 230);
    font-family: $fontRoboto;
}

html{
    font-size: 62.5%;
}


//Background Video

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  height: 95rem !important;
  width: 100%;
  z-index: -1;
  opacity: .4;
  overflow: hidden;
  @include respond(tab-land){
    height: 95rem !important;
}

  &__content {
      height: 100%;
      width: 100%;
      object-fit: cover;
      
  }
}