body{
    background-color: rgb(0, 152, 212);
    padding:50px;
    display:flex;
    justify-content:center;
    align-items:center;
}

h1{
    font-size:50px;
    color:whitesmoke;
    text-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.616);
}